.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--blue);
  gap: 6.25rem;
  align-content: center;
}

.container section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container section h2 {
  color: white;
  margin-bottom: 24px;
}

.github {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github p {
  color: var(--text-highlight);
  margin-left: 24px;
}

.input {
  background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.input input {
  background: none;
  border: none;
  outline: none;
  height: 100%;
  padding: 24px 30px;
  color: var(--text-highlight);
}

.input input::placeholder {
  color: var(--text-highlight);
}

.input button {
  background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 0px 5px 5px 0px;
  border: none;
  outline: none;
  padding: 24px;
  transition: all ease 0.1s;
}

.input button:hover {
  background: var(--green);
}
